*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i,span{
    color: rgb(8, 20, 79);
}

button{
    background-color: initial;
    border: initial;
}

button:hover{
    cursor: pointer;
}

#box_1{
    width: 100vw;
    height: 6vh;
    background-color: rgb(8, 20, 79);
}

#box_2{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 6vh;
    box-shadow: 5px 5px 20px rgb(125, 125, 125);
}

#small_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    gap: 15px;
}

.nav_sym_1{
    width: 30px;
    padding-left: 7px;
    border-right: 2px solid rgb(110, 110, 110);
}

.dots{
    padding-left: 17px;
    padding-right: 10px;
    border-left: 2px solid rgb(110, 110, 110);
}

.expand{
    padding-left: 17px;
    padding-right: 5px;
}

.grid-container {
    display: grid;
    margin-top: 10px;
    margin-right: 10px;
    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-template-rows: 100px 200px 315px;
    grid-gap: 10px;
}

.grid-container > :nth-child(5) {
    grid-row: 1;
    grid-column: 5;
    grid-row-end: span 2;
}

.grid-container > :nth-child(10) {
    grid-column: span 3;
}

.grid-container > :nth-child(11) {
    grid-column: span 2;
}

.grid-item {
    box-shadow: 5px 5px 20px rgb(125, 125, 125);
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


